body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.header-banner {

    background-image: url(images/header-image.png);
    height: 599.7px;
    width: 100%;
    background-repeat: no-repeat;

}

.header-section {
    display: flex;
}

.header-section h1 {
    color: white;
    font-size: 45px;
    margin-left: 135px;
    margin-top: 145px;
}

.white-p {

    color: white;
    margin-left: 135px;

}

#button-color {
    text-decoration: none;

    background-color: #EF233C;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 4px;

}

.header-section a {
    text-decoration: none;

    background-color: #EF233C;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-left: 135px;
}

.half-width {

    width: 50%;

}

.half-width img {

    width: 50%;
    margin-left: -45px;

}

.second-section {
    margin-top: 40px;
    border-bottom: 30px;
    display: flex;

    margin-left: 235px;

}

.second-section h2 {

    line-height: 1.46em;
}

.second-section p {

    font-weight: 200;
}

.depand {
    margin-top: 80px;

    display: block;
    text-align: center;
}

.depand p {

    font-weight: 100;
}

.simple-box {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    padding: 40;







}

.simple-box p {
    font-weight: 100;
    background-repeat: no-repeat;



}

.box-color {

    background-color: #FEF4F5;

    margin-right: 10px;
    border-radius: 5px;

}

.box-color img {
    margin: 20px;
    padding-top: 20px;
    float: left;

}

.box-color h3 {
    padding-top: 50px;
}

.box-color p {

    margin-left: 90px;
}


.card {

    display: flex;
    width: 100 %;
    padding: 0 10px;
    text-align: center;





}

.card img {
    width: 70%;

    justify-items: right;
}

.left-img {
    margin-right: -30px;
    float: right;
    margin-right: 18px;
}



.right-img {
    text-align: left;
    margin-right: 500px;


}

footer {


    justify-content: center;
    text-align: center;
    background-color: #0B0D17;
    color: #EF233C;
    padding: 30px;
}

footer p {
    color: white;
}

footer h3 {

    font-family: 'Lobster', cursive;
    font-size: 30px;
}